/* * {  	
	width: tamaño;
  height: tamaño;
	border: 2px solid red;
	padding: 10px;
  padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 15px;
  padding: 10px 13px 5px 15px;
	margin: 10px;
  para margin igual a padding
}*/

body {
	font-family: 'Allerta', sans-serif;
	margin-left: 0;
}
table {
	width: 100%;
}

th {
	background: #273b47;
	color: white;
}

td {
	padding: 20px;
}

th {
	padding: 10px;
}

table, td, th {
	border: 3px solid #273b47;
	border-collapse: collapse;
}

input, textarea {
	outline: 0;
}
	
input:focus, textarea:focus {
	background: lightgray;
}

.background {
	background-image: url("../images/background.png");
	background-size: cover;
	padding: 20px;
}
.menu {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before {
	content: '•';
	font-size: 20px;
}

.logotipo {
	display: inline-block;
	margin: 0;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 130px;
}

.titulo span {
	text-decoration: underline;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras {
	color: #1F313C;
}
.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	margin-left: 20px;
}

.portada {
	color: white;
	height: 550px;
}

.portada button {
	margin-bottom: 70px;
}

.contenedor {
	width: 800px;
	margin: auto;
	position: relative;
}

.guitarra {
	margin: 10px 10px 30px 10px;
	padding: 10px;
	border: 1px solid #1F313C;
	border-radius: 8px;
}

.guitarra ol {
	padding: 0;
}

.right {
	float: right;
	position: relative;
	top: -118px;
}

.left {
	float: left;
	position: relative;
	top: 0px;
	left: -65px;
}

.contenedor-guitarra-a {
	padding-left: 20px;
	margin-bottom: 25px;
}
.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
	bottom: 70px;
}

.header {
	position: relative
}

.button {
	border-radius: 7px;
/*	background: #fd324e;*/
	color: white;
	border: none;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 17px;
	background: #f25543; /* Old browsers */
	background: -moz-linear-gradient(left, #f25543 0%, #e73827 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f25543 0%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f25543 0%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f25543', endColorstr='#e73827',GradientType=1 ); /* IE6-9 */
	text-decoration: none;
}

.footer {
	background: #273b47;
	padding: 50px 10px;
}

.contacto {
 display: flex;
 width: 300px;
 flex-wrap: wrap;
 align-items: center;
 
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a {
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
}


.col1, .col2 {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
}

.col2 .button {
	margin-top: 15px;
}

.intereses label {
	font-size: 12px;
}

.formulario label, .sexo, .intereses {
	margin-bottom: 10px;
}

.sexo {
	margin-top: 10px;
}


.menu a {
	color: white;
	text-decoration: none;
}
.guitarra.guit2 {
	height: 207px;
	margin-bottom: 60px;
}
.formulario {
	display: flex;
	width: 400px;
	color: white;
}

.tabla {
		margin: 50px 0;
}